<% @questions.each do |question| %>
  <ul>
    <%= question.title %> | <%= link_to "Edit", edit_question_path(question) %> | <%= link_to "Delete", question_path(question), data: { confirm: "Are you sure?", method: "delete" } %>
    <br>
    <li id="optionA">
      <div> <%= question.optionA %> </div>
    </li>
    <li id="optionB">
      <div> <%= question.optionB %> </div>
    </li>
  </ul>
<% end %>


<%= link_to "Add a question", new_question_path %>
